:root {
  --light-bg: #ffffff;
  --tomato: tomato;
  --pure-dark: rgb(0, 0, 0);
  --gold: gold;
  --dark: #313338;
  --white: #ffffff;
  --gray-100: #f5f5f5;
  --crimson: #dc143c;
  --int-gray: 23 23 23;
  --teal-07: rgb(76 225 215 / 0.7);
}
